.analytics-block {
    background: #f1f5f7;
    height: 100vh;
}
.card-header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

.sort_selection_block {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.sort_selection_block select {
    width: 20%;
}

.information_block {
    max-width: 1300px;
    margin: 0 auto;
}

.information_block_inner {
    background: ghostwhite;
    border: ghostwhite;
}

.card-footer-inner-for-sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}