.main_block {
    margin: 0 auto;
}

.dashboard {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

#dashboard_links {
    display: none;
}

.dashboard a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.dashboard a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.dashboard a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #3c4d6d;
    color: white;
}

.employee_info {
    display: flex;
    justify-content: space-between;
}

.alert_success_msg {
    max-width: 300px;
    z-index: 10000;
    position: absolute;
    top: 12px;
    left: 50%;
}

.application_list_class {
    max-width: 95%;
    margin: 0 auto;
}
.info_block {
    width: 30%;
}
.log_block {
    width: 70%;
    border-left: 1px solid gray;
}

.log_block .modal-header {
    padding: 23px 20px 23px 0;
}

.modal-dialog {
    max-width: 80%;
}

.modal-content {
    flex-direction: row;
}
