.main_block {
    margin: 0 auto;
}

.dashboard_block {
    padding-top: 25px;
}

.dashboard_statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    margin: 30px auto;
    text-align: center;
}

.dashboard_statistic_left {
    width: 20%;
}

.dashboard_statistic_center {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard_statistic_inner {
    width: 20%;
}
.dashboard_statistic_right {
    width: 20%;
}

.dashboard_block_inner {
    max-width: 1600px;
    margin: 0 auto;
}

.dashboard_info_sort_block {
    display: flex;
    justify-content: center;
}

.title_stat_block {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.btn_group_right {
    margin-left: 30px;
}

#btnradio5 {
    top: 25px;
    left: 95%;
}

.section_info {
    max-width: 90%;
    margin: 0 auto;
}

.information_block_inner_footer {
    max-height: 550px;
    overflow-y: scroll;
    position: relative;
}

.information_block_inner_footer thead tr {
    position: sticky;
    top: 0;
    background: white;
}

#spinner_in_main {
    position: absolute;
    top: 50%;
    left: 50%;
}