.navbar_main_block {
    padding: 10px 15px;
}

#navbarSupportedContent {
    justify-content: space-between;
}

.dropdown_menu_inner {
    padding: 15px!important;
    white-space: nowrap;
}

.dropdown_menu_inner form {
    float: right;
}