.addOperation{
    color: #6e44c2;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
}
.addTask{
    color: black;
    text-decoration: none;
    border-radius: 15%;
    background-color: green;
    margin-left: 160px;
    width: 15%;
    height: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.btn  {
    display: block;
    text-decoration: none;
}
.deal{
    text-decoration: none;
    color: black;
}