.form-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    cursor: pointer;
}

.task_header_block {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.task_body_information {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.task_main_block {
    max-width: 90%;
    margin: 0 auto;
}

.form-additional label {
    width: 100%;
}

.modal_footer_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
